@import url(http://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

img {
    transition: width 0.5s;
    max-width: 100%;
}

* {
    font-family: "Lato", sans-serif;
    color:#2d3c49;
    font-weight: 300;
}

.row {
    width: 100%;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

hr {
    border: 2px solid #7d97ad;
}

.text-uppercase {
    font-weight: bold;
}

.social {
    text-shadow: 3px 3px 3px #aaa;
    line-height: 2em;
    margin: 1em;
    text-align: center;
}

.social a {
    margin: 0 1em 0 0;
}

.social a last-of-type {
    margin: 0;
}

.btn {
    background-color: #7d97ad;
}

.search {
    font-size: 16px;
}

.bio {
    font-size: 16px;
    line-height: 1.6em;
}