<footer class="row">
      <div class="col-xs-12 text-center">
        <hr class="footer-hr">
        <div class="social">
          <a href="https://twitter.com/TheStoicDev" target="_blank" <i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/jasonderr/" target="_blank" <i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank" <i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/stoicbum" target="_blank" <i class="fab fa-github"></i></a>
        </div>
      </div>
    </footer>